<a href="https://colab.research.google.com/github/DanBasilaev/NSS/blob/main/NSS_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import datetime

# Работы

In [375]:
df_act = pd.read_excel('dataset/1.xlsx', sheet_name='Ноябрь', header=[7,9] ,nrows=135,na_filter=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  """Entry point for launching an IPython kernel.

In [376]:
df_act = df_act.drop(0)

In [377]:
df_act = df_act[['Наименование работ','Дни мес.','Ноябрь']]

In [378]:
df_act.columns = range(df_act.shape[1])

In [379]:
df_act.rename(columns = {0:'Наименование работ', 1:'Дни мес.'}, inplace = True)

In [380]:
df_act.rename(columns=lambda x: datetime.date(2015, 11, x-1).strftime("%d.%m.%Y") if type(x) == int else x, inplace = True)

In [381]:
df_act.to_csv('result/act.csv', index=False)

# Ресурсы

In [382]:
df_res = pd.read_excel('dataset/1.xlsx', sheet_name='Ноябрь', header=[146,147],nrows=48, na_filter=False)

In [383]:
df_res = df_res[['Наименование и марка техники (механизма), оборудования','Ноябрь']]

In [384]:
df_res = df_res.drop(0)

In [385]:
df_res.columns = range(df_res.shape[1])

In [386]:
df_res.rename(columns = {0:'Наименование и марка техники (механизма), оборудования'}, inplace = True)

In [387]:
df_res.rename(columns=lambda x: datetime.date(2015, 11, x).strftime("%d.%m.%Y") if type(x) == int else x, inplace = True)

In [388]:
df_res.to_csv('result/res.csv', index=False)

# Субподрядчики

## Субподрядчики(люди)

In [389]:
df_sbcn_people = pd.read_excel('dataset/1.xlsx', sheet_name='Ноябрь', header=[236,237],nrows=7)

In [390]:
df_sbcn_people = df_sbcn_people[['Наименование субподрядной организации', 'Наименование должностей, профессий','ноябрь']]

In [391]:
df_sbcn_people = df_sbcn_people.drop(0)

In [392]:
df_sbcn_people.dropna(axis='columns',how='all', inplace=True)

In [393]:
df_sbcn_people.columns = range(df_sbcn_people.shape[1])

In [394]:
df_sbcn_people.rename(columns = {0:'Наименование субподрядной организации', 1:'Наименование должностей, профессий'}, inplace = True)

In [395]:
df_sbcn_people.rename(columns=lambda x: datetime.date(2015, 11, x-1).strftime("%d.%m.%Y") if type(x) == int else x, inplace = True)

In [396]:
df_sbcn_people.to_csv('result/subcon-people.csv', index=False)

## Субподрядчики(оборудование)

In [397]:
df_sbcn_eq = pd.read_excel('dataset/1.xlsx', sheet_name='Ноябрь', header=[251,252],nrows=3)

In [398]:
df_sbcn_eq = df_sbcn_eq[['Наименование субподрядной организации', 'Наименование и марка техники (механизма), оборудования','ноябрь']]

In [399]:
df_sbcn_eq = df_sbcn_eq.drop(0)

In [400]:
df_sbcn_eq.dropna(axis='columns',how='all', inplace=True)

In [401]:
df_sbcn_eq.columns = range(df_sbcn_eq.shape[1])
del df_sbcn_eq[32]

In [402]:
df_sbcn_eq.rename(columns = {0:'Наименование субподрядной организации', 1:'Наименование и марка техники (механизма), оборудования'}, inplace = True)

In [403]:
df_sbcn_eq.rename(columns=lambda x: datetime.date(2015, 11, x-1).strftime("%d.%m.%Y") if type(x) == int else x, inplace = True)

In [404]:
df_sbcn_eq.to_csv('result/subcon-eq.csv', index=False)